.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 5rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 0.5rem 4rem;
}

.nav-items {
	display: flex;
	list-style-type: none;
}
