.books {
	grid-column: 2 / span 12;
	display: grid;
	grid-template-columns: repeat(12, minmax(auto, 60px));
	grid-gap: 40px;
}

@media only screen and (max-width: 500px) {
	.books {
		grid-column: 2 / span 6;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 20px;
	}
}
