.nav-item {
	margin-right: 4rem;
}

.nav-item:last-child {
	margin-right: 0;
}

.nav-link {
	text-decoration: none;
	color: #1c1c1c;
	font-weight: 500;
	transition: all 0.2s;
	font-size: 14px;
}

.nav-link:hover,
.active {
	color: #0a74bb;
}
